#register {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    width: 50%;
    padding: 3.5rem;
    border-radius: 1rem;
    background-color: var(--broken_white);
    box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.25);

    & > header {
      display: flex;
      justify-content: space-between;
      & > h1 {
        font-size: 2.5rem;
        font-weight: 600;
        font-family: kardust, sans-serif;
      }
    }

    & > input {
      border: none;
      height: 2rem;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
      border-radius: 0.5rem;
      padding: 0 1rem;
    }

    & .actions {
      display: flex;
      justify-content: space-between;
      gap: 1rem;

      & > .link {
        display: flex;
        gap: 1rem;
        align-items: center;
        span {
          & > a {
            text-decoration: none;
            color: black;
            opacity: 0.25;
            font-size: 0.8rem;
            &:hover {
              opacity: 1;
            }
          }
        }
      }

      & > button {
        box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.25);
        border-radius: 0.5rem;
        border: none;
        height: 2rem;
        width: 10rem;
        background-color: var(--blue_400);

        &:hover {
          background-color: var(--blue_500);
        }
      }
    }
  }
}
