<section id="login">
  <form class="login" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <header>
      <h1>Login</h1>
      <img [src]="imagePath" alt="logo" />
    </header>
    <input
      type="email"
      placeholder="Email"
      id="email"
      formControlName="email"
    />
    <input
      type="password"
      placeholder="Password"
      id="password"
      formControlName="password"
    />
    <div class="actions">
      <button type="submit">Login</button>
      <div class="link">
        <span><a routerLink="">Forgot Password ?</a></span>
        <span><a routerLink="/register">No Account ?</a></span>
      </div>
    </div>
  </form>
</section>
