@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

//@media (prefers-color-scheme: light) {
:root {
  --blue-50: #eff6ff;
  --blue-200: #bfdbfe;
  --blue-300: #93c5fd;
  --blue-400: #60a5fa;
  --blue-500: #3b82f6;
  --blue-600: #2563eb;
  --blue-800: #1e40af;
  --blue-950: #172554;
  --sky-700: #0369a1;
  --broken-white: #fcfcfc;
  --neutral-950: #0a0a0a;
  --neutral-950-rgb: 10, 10, 10;
  --blue-200-rgb: 191, 219, 254;
  --blue-400-rgb: 96, 165, 250;
  --blue-500-rgb: 59, 130, 246;
  --blue-600-rgb: 37, 99, 235;
  --blue-800-rgb: 30, 64, 175;
  --red-400: #f87171;
  --red-500: #ef4444;
  --red-600: #dc2626;
  --green-400: #4ade80;
  --green-500: #22c55e;
}

@mixin SeiraFont($weight) {
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: $weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

html {
  overflow-y: auto;
  background-color: var(--broken-white);
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--broken-white);
  color: var(--neutral-950);
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#navbar {
  position: fixed;
  width: 0;
  height: 100vh;
  background-color: var(--broken-white);
  border-right: solid 2px var(--blue-600);
  @media (min-width: 1023px) {
    width: 16rem;
  }

  & > div {
    display: flex;
    flex-direction: column;

    & > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: .5rem 1rem .75rem 1rem;

      & > img {
        border-radius: .25rem;
      }

      & > h1 > a {
        color: var(--neutral-950);
        font-weight: 900;
        margin: 0 .5rem;
      }

      & > div > div {
        & > img {
          border-radius: 100%;
          border: solid 2px var(--blue-600);
          width: 1.875rem;
          height: 1.875rem;
        }

        & > div {
          background-color: var(--broken-white);
          border: solid 1px var(--blue-600);
          border-radius: .25rem;

          & > ul {
            display: flex;
            flex-direction: column;

            :hover {
              background-color: var(--blue-200);
              opacity: 50;
            }

            & > li {
              padding: 0.25rem 1.5rem 0.25rem 1.5rem;
              width: 100%;

              & > a {
                color: var(--neutral-950);

                &:hover {
                  background-color: transparent;
                }
              }

              & > button {
                background-color: transparent;
                color: var(--neutral-950);
                border: none;
                font-family: Inter, sans-serif;
                font-size: 1rem;
                padding: 0;
                margin: 0;

                &:hover {
                  background-color: transparent;
                }
              }
            }
          }
        }
      }
    }
  }

  .button-container {
    margin: 0 .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: .5rem;

    & > button:first-child {
      display: flex;
      width: 100%;
      height: 1.5rem;
      text-align: left;
      background-color: var(--blue-500);
      align-items: center;
      padding: 1rem .5rem;
      border-radius: .125rem;
      border: none;
      font-family: Inter, sans-serif;
      font-weight: 600;
      cursor: pointer;
      color: var(--broken-white);

      & > svg {
        padding-right: .5rem;
      }
    }

    & > button:last-child {
      display: flex;
      align-items: center;
      text-align: left;
      background-color: var(--blue-500);
      color: var(--broken-white);
      padding: 1rem .5rem;
      border-radius: .125rem;
      border: none;
      height: 1.5rem;
      cursor: pointer;

      & > svg {
        height: 1rem;
      }
    }

  }

  & > nav {
    height: 100vh;
    display: flex;
    flex-direction: column;

    & > ul {
      display: flex;
      flex-direction: column;
      margin: 1.5rem 0;
      width: 100%;

      a {
        color: var(--neutral-950);
      }

      & > li:first-child, & > li:last-child, & > li:nth-last-child(2) {
        width: 100%;
        padding: .25rem 2.25rem;

        &:hover {
          color: var(--neutral-950);
          background-color: var(--blue-600);
          opacity: 50;

          a {
            color: var(--blue-200)
          }
        }
      }

      & > li.is-active {
        a {
          color: var(--blue-200);
        }

        background-color: var(--blue-600);
        opacity: 50;

        &:hover {
          background-color: var(--blue-800);
        }
      }

      & > li > .is-menu {
        width: 100%;

        & > div {
          width: 100%;

          .menu-button {
            padding: .25rem 2.25rem;
            width: 100%;
            text-align: left;

            &:hover {
              color: var(--blue-200);
              background-color: var(--blue-600);
              opacity: 50;
            }

            & > span {
              padding-right: .5rem;
            }

            & > .is-menu-open {
              transform: rotate(90deg);
            }

          }

          .is-menu-close {
            display: none;
          }

          .is-menu-list {
            padding: .25rem 0 .25rem 1.5rem;

            & > ul {
              & > li:first-child, & > li:last-child {
                padding: .25rem 0 .25rem 1.5rem;
                width: 100%;

                & > ul {
                  border: none;
                  margin: 0 .75rem;

                  &:before {
                    border-left: 1px solid var(--blue-600);
                    content: "";
                    display: block;
                    position: absolute;
                    height: 2.713rem;
                    left: 3.7rem;
                  }

                  & > li {
                    padding: .25rem 0 .25rem .25rem;
                    width: 100%;

                    &:before {
                      border-top: 1px solid var(--blue-600);
                      content: "";
                      display: block;
                      left: 3.75rem;
                      margin-top: .60rem;
                      position: absolute;
                      width: .75rem;
                    }

                    &:hover {

                      background-color: var(--blue-600);
                      opacity: 50;
                    }

                    & > a {
                      padding: 0;
                      background-color: transparent;

                      &:hover {
                        color: var(--blue-200);
                        background-color: transparent;
                      }
                    }
                  }
                }
              }

              & > li:nth-child(2) {
                padding: .25rem 0 .25rem 1.5rem;
                width: 100%;

                &:hover {
                  background-color: var(--blue-600);
                  opacity: 50;
                }

                & > a {
                  color: var(--neutral-950);
                  padding: 0;
                  background-color: transparent;

                  &:hover {
                    color: var(--blue-200);
                    background-color: transparent;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

#Auth {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--broken-white);
  padding-top: 1.5rem;

  & > div {
    width: 100%;
    margin-top: 1.5rem;
    padding: 1rem 1.5rem;
    border: solid 1px var(--blue-600);
    overflow: hidden;
    box-shadow: 0 .0625em .125em hsla(221, 14%, 4%, .25);
    border-radius: .5rem;
    max-width: 28rem;
  }

  .error {
    color: var(--red-500);
    font-size: .75rem;
  }
}

#login, #register {
  input {
    box-shadow: 0 .0625em .125em hsla(221, 14%, 4%, .25);
    background-color: var(--broken-white);
    margin: .5rem 0;
  }

  label {
    color: var(--neutral-950);
  }

  button {
    color: var(--neutral-950);
    height: 1.75rem;
    width: 5rem;
    margin-top: 1rem;
    font-weight: bold;
    text-align: center;
    border-radius: 0.25rem;
    line-height: 1.25rem;
    border: 1px solid var(--blue-600);

    &:hover {
      background-color: var(--blue-600);
      color: var(--blue-50)
    }
  }
}

#login {
  & > div:last-child {
    text-align: end;

    & > a {
      color: var(--sky-700);
      font-weight: bold;
      font-size: 0.75rem;
      line-height: 1rem;
      margin: 0 .5rem;

      &:hover {
        text-decoration: underline;
        color: var(--neutral-950);
      }
    }
  }
}

#register {
  & > div:last-child {
    text-align: end;

    & > a {
      color: var(--sky-700);
      font-weight: bold;
      font-size: 0.75rem;
      line-height: 1rem;
      margin: 0 .5rem;

      &:hover {
        text-decoration: underline;
        color: var(--neutral-950);
      }
    }
  }
}

#checkbox {
  width: 100%;
  display: flex;
  margin-top: 1rem;

  & > label {
    margin-left: .5rem;
  }

  & > input {
    appearance: none;
    position: relative;
    width: 1rem;
    height: 1rem;
    border: solid .5px var(--blue-600);
    background-color: transparent;
    border-radius: 5px;
    margin-top: .25rem;

    &:checked {
      background-color: var(--blue-600);
      border: solid .5px var(--blue-600);
    }

    &:focus {
      outline: none;
      box-shadow: inset 0 0 0 0 #fff, inset 0 0 0 calc(2px + 0px) var(--blue-600), inset 0 0 0 calc(2px + 0px) var(--blue-600), 0 0 #0000;
    }
  }

  & > svg {
    display: none;
    outline: none;
    pointer-events: none;
  }

  & > svg.is-active {
    position: absolute;
    width: 1rem;
    height: 1rem;
    margin-top: .25rem;
    display: block;
    stroke: white;
    outline: none;
    pointer-events: none;
  }
}

#my_issue {
  width: 100%;

  & > div.content {
    padding-left: 16rem;

    & > .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 3.125rem;
      border-bottom: 1px solid var(--blue-800);

      & > .breadcrumb {
        &:not(:last-child) {
          margin: 0;
        }

        & > ul {
          margin: 0;

          & > li {
            margin: 0;

            &:first-child {
              margin-left: .5rem
            }

            &:before {
              color: var(--neutral-950);
              padding: 0 .25rem;
            }
          }
        }
      }

      & > .tabs {
        margin-right: .5rem;

        & a {
          border: none;
          color: var(--blue-200);
          fill: var(--blue-200);

          & > svg {
            width: 16px;
            height: 16px;
          }
        }

        & > ul {
          margin: 0;
          border: none;

          & > li {
            & > a {
              padding: .375rem;
            }

            &.is-active {
              & > a {
                color: var(--blue-600);

                & > svg {
                  fill: var(--blue-600);
                }

                & > .tabs-icon {
                  color: var(--blue-600);
                }
              }
            }

            &:hover {
              & > a {
                color: var(--blue-600);

                & > svg {
                  fill: var(--blue-600);
                }
              }
            }
          }
        }
      }
    }

    & > .typeview-tabs {
      & > .tabs {
        width: fit-content;

        & a {
          border: none;
        }

        & > ul {
          margin: 0;
          border: none;

          & > li {
            &:hover {
              & > a {
                color: var(--blue-600);
              }
            }
          }
        }
      }
    }

    & > .issues {
      & > div {
        & > .menu {
          position: relative;

          & > .menu-content {
            position: absolute;
            z-index: 3;
            display: flex;
            gap: .5rem;
            padding: .4rem .6rem;
            pointer-events: none;
            width: fit-content;
            background-color: var(--broken-white);
            color: var(--neutral-950);
            border: var(--blue-600) solid 1px;
            border-radius: 10px;

            & > .menu-item {
              display: flex;
              align-items: center;
              padding: .5rem .5rem;
              cursor: pointer;
              pointer-events: auto;

              & > svg {
                width: 20px;
                height: 20px;
              }

              &:hover {
                background-color: rgba(79, 79, 79, 0.15);
                border-radius: 5px;
              }
            }
          }
        }

        h2 {
          margin: 0 .5rem
        }

        & > .wrapper-issue-list {
          @include SeiraFont(400);

          & > .issue-header {
            background-color: var(--blue-200);
            height: 2.25rem;
            border-bottom: 1px solid var(--blue-800);
            border-top: 1px solid var(--blue-800);
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include SeiraFont(600);

            & > .issue-state {
              display: flex;
            }

            & > .issue-state, svg {
              margin: 0 .25rem;
            }

            & > .issue-add {
              width: 1.5rem;
              height: 1.5rem;

              &:hover {
                border: 1px solid var(--neutral-950);
                border-radius: 20%;
                width: 1.5rem;
                height: 1.5rem;
                box-shadow: 0 0.5em 1em -0.125em rgba(var(--neutral-950-rgb), 0.6), 0 0px 0 1px rgba(var(--neutral-950-rgb), 0.02);
              }
            }
          }

          & > .dnd-issue-wrapper > .dnd-issue-list {
            & > .placeholder-issue-list {
              padding: 0 1rem;
              opacity: 75%;
            }

            & .issue-list > .issue-list-item {
              width: 100%;

              & > .issue-info {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 1.75rem;

                &:hover {
                  background-color: rgba(var(--blue-200-rgb), 0.5);
                  box-shadow: 0 .25rem 1rem -0.125em rgba(var(--neutral-950-rgb), 0.6), 0 0px 0 1px rgba(var(--neutral-950-rgb), 0.02);
                  position: relative;
                  z-index: 1;
                }

                & > .issue-content {
                  display: flex;
                  margin-left: .125rem;

                  & > div {
                    margin: 0 .125rem;
                  }

                  & > .priority {
                    margin-left: .25rem;
                    width: 1.25rem;

                    & > .tooltip {
                      height: fit-content;

                      & > svg.fa-rotate-90 {
                        padding-left: .5rem;
                        padding-top: 0;
                      }

                      & > svg {
                        height: 1.25rem;
                        padding: .5rem 0 0 0;
                      }
                    }
                  }

                  & > .tag-number {
                    width: 3.75rem;
                    font-size: 1.20rem;
                  }

                  & > .title-issue {
                    font-size: 1.20rem;
                  }
                }

                & > .other-info {
                  display: flex;
                  align-items: center;

                  .tag {
                    @include SeiraFont(600);
                    border-radius: 5px;
                    background-color: var(--blue-500);
                    border: 1px solid var(--blue-800);
                    color: var(--blue-50);

                    &:hover {
                      background-color: var(--blue-300);
                    }
                  }

                  & > .user-tag {
                    & > .dropdown {
                      & > .dropdown-trigger > button {
                        background-color: unset;
                        border: none;
                        padding: 0;
                        margin: 0 .25rem;
                      }

                      & > .dropdown-menu > .dropdown-content {
                        background-color: var(--broken-white);
                        color: var(--neutral-950);
                        border: 1px solid var(--blue-800);
                        border-radius: 10px;

                        & > .users-list {
                          & > .dropdown-item {
                            background-color: transparent;
                            cursor: pointer;
                            padding: 0.5rem;
                            text-align: center;

                            &:hover {
                              background-color: rgba(79, 79, 79, 0.15);
                              border-radius: 5px;
                            }
                          }
                        }
                      }
                    }
                  }

                  & > .project-content {
                    display: flex;
                    align-items: center;

                    & > div {
                      margin: 0 .25rem;

                      &:last-child {
                        width: 4rem;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 1023px) {
    & > div.content {
      padding-left: 0;
    }
  }
}

#project {
  width: 100%;

  & > header {
    padding: .5rem 0 0 16rem;
    width: 100%;
    height: 3.125rem;
    border-bottom: 1px solid var(--blue-800);
    display: flex;
    justify-content: space-between;
    align-items: center;


    & > nav {
      margin-left: .5rem;
      margin-bottom: 0;

      & > ul {
        margin: 0;
      }
    }

    & > button {
      margin: 0 .5rem .5rem 0;
      background-color: var(--blue-200);
      border: 1px solid var(--blue-500);
      border-radius: 5px;
      font-weight: 500;
      padding: .25rem;

      &:hover {
        background-color: var(--blue-300);
      }

    }
  }

  & > div.content {
    padding: 1rem 1rem 0 17rem;
    height: 100%;

    & > div {
      display: flex;
      width: 100%;

      & > div > .card {
        width: 350px; // petit 350 | grand 600 | moyen 500
        height: 351px;
        margin: .25rem 1rem;
        border-radius: 16px;
        box-shadow: 0 .5em 1em hsla(221, 14%, 4%, .25);

        .card-content {
          padding: 0;

          .media {
            margin-bottom: .25rem;

            img {
              border-radius: 16px 16px 0 0;
              width: 100%;
              height: 206px;
            }

            div {
              border-radius: 16px 16px 0 0;
              background-color: #e9e9e9;
              width: 100%;
              height: 206px;
            }
          }

          .content {
            margin: 0 .75rem;

            .content-footer {
              display: flex;
              justify-content: space-between;
              align-items: flex-end;

              .btn-action {
                button {
                  &:nth-child(1) {
                    margin-left: 0
                  }

                  margin: 0 .25rem;
                }
              }

              .date {
                display: flex;
                flex-direction: column;
              }
            }
          }
        }
      }

      .field.field-btn {
        & > .control {
          display: flex;
          justify-content: space-between;

          & > .btn-danger {
            background-color: var(--red-500);
            border-radius: 5px;
            color: var(--blue-50);
            padding: .25rem .5rem;

            &:hover {
              background-color: var(--red-600);
            }
          }

          & > .btn-create {
            background-color: var(--green-400);
            border-radius: 5px;
            color: var(--neutral-950);
            padding: .25rem .5rem;

            &:hover {
              background-color: var(--green-500);
            }
          }
        }
      }

      .del-box, .user-box {
        background-color: var(--broken-white);
        border: solid 2px var(--blue-800);

        & > h4, & > h3 {
          color: var(--neutral-950);
          text-align: center;
        }
      }

      .select.is-multiple {
        width: 100%;

        & > select {
          border: 1px solid var(--blue-800);
          background-color: var(--broken-white);
          box-shadow: 0 .5em 1em hsla(221, 14%, 4%, .25);
          border-radius: 5px;
          overflow-y: auto;
          width: 100%;

          & > option {
            background-color: var(--blue-200);
            color: var(--neutral-950);
            text-align: center;
          }
        }
      }

      .edit-box, .create-box {
        background-color: var(--broken-white);

        & > h3, label {
          color: var(--neutral-950);
        }

        & > .field > .control {
          input, textarea {
            background-color: var(--broken-white);
            color: var(--neutral-950);
            box-shadow: 0 .5em 1em hsla(221, 14%, 4%, .25);
          }
        }

        & > .field > .file > .file-label {
          box-shadow: 0 .5em 1em hsla(221, 14%, 4%, .25);
          border-radius: 6px;

          & > .file-cta {
            background-color: var(--broken-white);
            color: var(--neutral-950);
          }
        }

      }
    }
  }
}

.canceled-issue-icon {
  color: var(--red-500);
  width: 1.5rem;
  height: 1.5rem;
}

.completed-issue-icon {
  color: var(--green-500);
  width: 1.5rem;
  height: 1.5rem;
}

.open-issue-icon {
  color: var(--blue-600);
  width: 1.5rem;
  height: 1.5rem;
}

.inprogress-issue-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;

  & > svg {
    & > circle {
      stroke: var(--blue-600);
    }

    & > path {
      fill: var(--blue-600);
    }
  }
}

.tooltip {
  position: relative;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 3.75rem;
  background-color: var(--blue-200);
  border: 1px solid var(--blue-800);
  color: var(--neutral-950);
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  margin-left: .5rem;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.modal {
  & > .modal-content > .box {
    .field > .control {
      input, textarea {
        box-shadow: 0 .0625em .125em hsla(221, 14%, 4%, .25);
        background-color: var(--broken-white);
        margin: .5rem 0;
      }

      .count {
        text-align: right;
      }

      .select-group {
        .select {
          margin: 0 .5rem;

          &:nth-child(1) {
            margin-left: 0;
          }
        }

      }
    }

    .button {
      box-shadow: 0 .0625em .125em hsla(221, 14%, 4%, .25);
      padding: .5rem 1rem;
      margin-right: .75rem;
      margin-top: .375rem
    }

  }
}

.modal.del-issue {
  .modal-content > .box.del-box {
    background-color: var(--broken-white);

    .button.is-cancel {
      color: black;
    }
  }
}

//}
