@media (prefers-color-scheme: light) {
  html {
    background-color: white;
  }
  body {
    background-color: white;
    color: var(--neutral-950)
  }
  #navbar {
    background-color: var(--broken-white);
    border-right: solid 2px var(--blue-600);

    & > div {
      & > div {
        & > h1 > a {
          color: var(--neutral-950);
        }

        & > div > div {
          & > img {
            border: solid 2px var(--blue-600);
          }

          & > div {
            background-color: var(--broken-white);
            border: solid 1px var(--blue-600);

            & > ul {
              :hover {
                background-color: var(--blue-200);
              }

              & > a {
                & > li {
                  color: var(--neutral-950);

                  &:hover {
                    background-color: transparent;
                  }
                }
              }

              & > li {
                & > a {
                  color: var(--neutral-950);

                  &:hover {
                    background-color: transparent;
                  }
                }

                & > button {
                  background-color: transparent;
                  color: var(--neutral-950);

                  &:hover {
                    background-color: transparent;
                  }
                }
              }
            }
          }
        }
      }
    }

    .button-container {
      & > button:first-child {
        background-color: var(--blue-500);
        color: var(--broken-white);
      }

      & > button:last-child {
        background-color: var(--blue-500);
        color: var(--broken-white);
      }

    }

    & > nav {
      & > ul {
        a {
          color: var(--neutral-950);
        }

        & > li:first-child {
          &:hover {
            color: var(--neutral-950);
            background-color: var(--blue-600);

            a {
              color: var(--blue-200)
            }
          }
        }

        & > li.is-active {
          a {
            color: var(--blue-200);
          }

          background-color: var(--blue-600);

          &:hover {
            background-color: var(--blue-800);
          }
        }

        & > li > .is-menu {
          & > div {
            .menu-button {
              &:hover {
                color: var(--blue-200);
                background-color: var(--blue-600);
              }
            }

            .is-menu-list {
              & > ul {
                & > li:first-child, & > li:last-child {
                  & > ul {
                    &:before {
                      border-left: 1px solid var(--blue-600);
                    }

                    & > li {
                      &:before {
                        border-top: 1px solid var(--blue-600);
                      }

                      &:hover {
                        background-color: var(--blue-600);
                      }

                      & > a {
                        background-color: transparent;

                        &:hover {
                          color: var(--blue-200);
                        }
                      }
                    }
                  }
                }

                & > li:nth-child(2) {
                  &:hover {
                    background-color: var(--blue-600);
                  }

                  & > a {
                    color: var(--neutral-950);
                    background-color: transparent;

                    &:hover {
                      color: var(--blue-200);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  #Auth {
    background-color: var(--broken-white);

    & > div {
      border: solid 1px var(--blue-600);
      box-shadow: 0 .0625em .125em hsla(221, 14%, 4%, .25);
    }

    .error {
      color: var(--red-500);
    }
  }
  #login, #register, #reset-password {
    input {
      box-shadow: 0 .0625em .125em hsla(221, 14%, 4%, .25);
      background-color: var(--broken-white);
    }

    label {
      color: var(--neutral-950);
    }

    button {
      color: var(--neutral-950);
      border: 1px solid var(--blue-600);

      &:hover {
        background-color: var(--blue-600);
        color: var(--blue-50)
      }
    }
  }
  #login {
    & > .action_btn {
      & > a, span {
        color: var(--sky-700);

        &:hover {
          color: var(--neutral-950);
        }
      }
    }
  }
  #register {
    & > div:last-child {
      & > a {
        color: var(--sky-700);

        &:hover {
          color: var(--neutral-950);
        }
      }
    }
  }
  #checkbox {
    & > input {
      border: solid .5px var(--blue-600);
      background-color: transparent;

      &:checked {
        background-color: var(--blue-600);
        border: solid .5px var(--blue-600);
      }

      &:focus {
        box-shadow: inset 0 0 0 0 #fff, inset 0 0 0 calc(2px + 0px) var(--blue-600), inset 0 0 0 calc(2px + 0px) var(--blue-600), 0 0 #0000;
      }
    }

    & > svg.is-active {
      stroke: white;
    }
  }
  #my_issue {
    & > div.content {
      & > .header {
        border-bottom: 1px solid var(--blue-800);
        background-color: var(--broken-white);

        & > .breadcrumb {
          & > ul > li:before {
            color: var(--neutral-950);
          }
        }

        & > .tabs {
          & a {
            color: var(--blue-200);
            fill: var(--blue-200);
          }

          & > ul > li {
            &.is-active {
              & > a {
                color: var(--blue-600);

                & > svg {
                  fill: var(--blue-600);
                }

                & > .tabs-icon {
                  color: var(--blue-600);
                }
              }
            }

            &:hover {
              & > a {
                color: var(--blue-600);

                & > svg {
                  fill: var(--blue-600);
                }
              }
            }
          }
        }
      }

      & > .typeview-tabs > .tabs > ul > li:hover > a {
        color: var(--blue-600);
      }

      & > .issues {
        & > div {
          & > .menu {
            & > .menu-content {
              background-color: var(--broken-white);
              color: var(--neutral-950);
              border: var(--blue-600) solid 1px;

              & > .menu-item {
                &:hover {
                  background-color: rgba(79, 79, 79, 0.15);
                }
              }
            }
          }

          & > .wrapper-issue-list {
            & > .issue-header {
              background-color: var(--blue-200);
              border-bottom: 1px solid var(--blue-800);
              border-top: 1px solid var(--blue-800);

              & > .issue-add {
                &:hover {
                  border: 1px solid var(--neutral-950);
                  box-shadow: 0 0.5em 1em -0.125em rgba(var(--neutral-950-rgb), 0.6), 0 0px 0 1px rgba(var(--neutral-950-rgb), 0.02);
                }
              }
            }

            & > .dnd-issue-wrapper > .dnd-issue-list > .issue-list > .issue-list-item > .issue-info {
              &:hover {
                background-color: rgba(var(--blue-200-rgb), 0.5);
                box-shadow: 0 .25rem 1rem -0.125em rgba(var(--neutral-950-rgb), 0.6), 0 0px 0 1px rgba(var(--neutral-950-rgb), 0.02);
              }

              & > .other-info {
                .tag {
                  background-color: var(--blue-500);
                  border: 1px solid var(--blue-800);
                  color: var(--blue-50);

                  &:hover {
                    background-color: var(--blue-300);
                  }
                }

                & > .user-tag {
                  & > .dropdown-trigger > button {
                    background-color: unset;
                  }

                  & > .dropdown-menu > .dropdown-content {
                    background-color: var(--broken-white);
                    color: var(--neutral-950);
                    border: 1px solid var(--blue-800);

                    & > .users-list > .dropdown-item {
                      background-color: transparent;

                      &:hover {
                        background-color: rgba(79, 79, 79, 0.15);
                      }
                    }

                    & > .any-user {
                      background-color: transparent;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  #project {
    & > header {
      border-bottom: 1px solid var(--blue-800);

      & > button {
        background-color: var(--blue-200);
        border: 1px solid var(--blue-500);

        &:hover {
          background-color: var(--blue-300);
        }
      }
    }

    & > div.content {
      & > div {
        & > div > .card {
          box-shadow: 0 .5em 1em hsla(221, 14%, 4%, .25);

          .card-content > .media > div {
            background-color: #e9e9e9;
          }
        }

        .field.field-btn > .control {
          & > .btn-danger {
            background-color: var(--red-500);
            color: var(--blue-50);

            &:hover {
              background-color: var(--red-600);
            }
          }

          & > .btn-create {
            background-color: var(--green-400);
            color: var(--neutral-950);

            &:hover {
              background-color: var(--green-500);
            }
          }
        }

        & > .modal.settings > .modal-content > .box.user-box > .content > .box.user-box > .content {
          & > .tabs-left {
            border-right: 1px solid var(--blue-800);

            & > .tabs-titles > .tabs-title {
              &.is-active {
                background-color: var(--blue-800);
                color: var(--broken-white)
              }

              &:hover {
                background-color: var(--blue-200);
                color: var(--neutral-950)
              }
            }
          }

          & > .tabs-right {
            &.user {
              .field {
                .select.is-multiple {
                  & > select {
                    border: 1px solid var(--blue-800);
                    background-color: var(--broken-white);
                    box-shadow: 0 .5em 1em hsla(221, 14%, 4%, .25);

                    & > option {
                      background-color: var(--blue-200);
                      color: var(--neutral-950);
                    }
                  }
                }
              }
            }

            &.workflow {
              & > .state-wrapper {
                border: 1px solid var(--blue-800);
                box-shadow: 0 .5em 1em hsla(221, 14%, 4%, .25);

                & > .state-infos {
                  &:hover {
                    background-color: var(--blue-200);
                    color: var(--neutral-950)
                  }
                }
              }

              & > .button.is-small {
                box-shadow: 0 .5em 1em hsla(221, 14%, 4%, .25);
                border: 1px solid var(--blue-800);
              }
            }
          }
        }


        .del-box, .user-box {
          background-color: var(--broken-white);
          border: solid 2px var(--blue-800);

          & > h4, & > h3 {
            color: var(--neutral-950);
          }
        }


        .edit-box, .create-box {
          background-color: var(--broken-white);

          & > h3, label {
            color: var(--neutral-950);
          }

          & > .field > .control {
            input, textarea {
              background-color: var(--broken-white);
              color: var(--neutral-950);
              box-shadow: 0 .5em 1em hsla(221, 14%, 4%, .25);
            }
          }

          & > .field > .file > .file-label {
            box-shadow: 0 .5em 1em hsla(221, 14%, 4%, .25);

            & > .file-cta {
              background-color: var(--broken-white);
              color: var(--neutral-950);
            }
          }
        }
      }
    }
  }
  #kanban {
    & > .state-list {
      box-shadow: 0 .0625em .125em hsla(221, 14%, 4%, .25);
      background-color: var(--broken-white);

      & > .header {
        background-color: var(--broken-white);
      }

      & > .issue-list {
        & > .issue-card {
          box-shadow: 0 .0625em .125em hsla(221, 14%, 4%, .25), 0 .0625em .125em hsla(221, 14%, 4%, .25);
          background-color: white;

          &.dragging {
            color: transparent;
            border: 2px dashed rgba(0, 0, 0, 0.2);
          }

        }
      }
    }

    & > .icon {
      border: 1px solid hsl(221, 14%, calc(86% + -10%));
      box-shadow: .0825em .0825em .125em hsla(221, 14%, 4%, .5);

      &:hover {
        background-color: hsl(221, 14%, calc(100% + -5%));
      }

      &:active {
        background-color: hsl(221, 14%, calc(100% + -10%));
      }
    }
  }
  #details {
    & > header {
      & > .left-side {
        & > div > input {
          border: 1px solid var(--blue-600);
        }

        & > .select-group .select > select {
          border: 1px solid var(--blue-600);
          background-color: hsl(221, 14%, calc(100% + 0%));
        }

        & > .button {
          border: 1px solid var(--blue-600);
        }
      }

      & > .right-side > button {
        border: 1px solid #172554;
        background-color: var(--blue-300);
      }
    }

    & > .hero-issue {
      & > .issue-list {
        box-shadow: 0 .0625em .125em hsla(221, 14%, 4%, .25);
        background-color: var(--broken-white);

        & > .issue-card {
          box-shadow: 0 .0625em .125em hsla(221, 14%, 4%, .25), 0 .0625em .125em hsla(221, 14%, 4%, .25);
          background-color: white;

          & > .issueis-active {
            border: 1px solid var(--blue-600);
          }
        }
      }

      & > .issue-info {
        & > .issue-details {
          & > .breadcrumb.is-small {
            border-bottom: 1px solid var(--neutral-950);

            & > ul > li > a {
              &:link {
                color: var(--neutral-950);
              }

              &:visited {
                color: var(--neutral-950);
              }

              &:hover {
                color: var(--blue-600);
              }

              &:active {
                color: var(--neutral-950);
              }
            }
          }

          & > .content {
            & > hr {
              background-color: var(--neutral-950);
            }

            & > .activity {
              & > .wrapper {
                & > .activity-list {
                  & > .comment {
                    box-shadow: 0 .0625em .125em hsla(221, 14%, 4%, .25), 0 .0625em .125em hsla(221, 14%, 4%, .25);

                    & > .info > .actions {
                      & > .is-resolved {
                        & > svg {
                          color: var(--green-500)
                        }
                      }

                      & > .dropdown.is-right > .dropdown-menu > .dropdown-content {
                        background-color: var(--broken-white);
                        color: var(--neutral-950);
                        border: 1px solid var(--blue-800);

                        & > .item-menu {
                          &:hover {
                            background-color: rgba(79, 79, 79, 0.15);
                          }
                        }
                      }
                    }

                    & > .comment-answer {
                      border-top: 1px solid hsla(221, 14%, 4%, .25);

                      & > .info > .action {
                        & > .is-resolved > svg {
                          color: var(--green-500)
                        }

                        & > .dropdown.is-right > .dropdown-menu > .dropdown-content {
                          background-color: var(--broken-white);
                          color: var(--neutral-950);
                          border: 1px solid var(--blue-800);

                          & > .item-menu:hover {
                            background-color: rgba(79, 79, 79, 0.15);
                          }
                        }
                      }
                    }

                    & > .input-response {
                      border-top: 1px solid hsla(221, 14%, 4%, .25);
                    }
                  }
                }
              }
            }
          }
        }
      }

      & > .issue-details-info {
        & > .select > select, button {
          border: 1px solid var(--blue-600);
          background-color: hsl(221, 14%, calc(100% + 0%));
        }

        & > button:hover {
          background-color: var(--blue-200)
        }

        & > .details-info {
          & > .details-title {
            border: 1px solid hsla(221, 14%, 4%, .25);
            box-shadow: 0 .0625em .125em hsla(221, 14%, 4%, .25), 0 .0625em .125em hsla(221, 14%, 4%, .25);
            background-color: var(--blue-200)
          }

          & > .infos {
            border: 1px solid hsla(221, 14%, 4%, .25);
            box-shadow: 0 .0625em .125em hsla(221, 14%, 4%, .25), 0 .0625em .125em hsla(221, 14%, 4%, .25);
          }
        }
      }
    }
  }
  #issue-details {
    & > .hero-issue {
      & > .issue-info > .issue-details {
        & > .breadcrumb.is-small {
          border-bottom: 1px solid var(--neutral-950);

          & > ul > li > a {
            &:link {
              color: var(--neutral-950);
            }

            &:visited {
              color: var(--neutral-950);
            }

            &:hover {
              color: var(--blue-600);
            }

            &:active {
              color: var(--neutral-950);
            }
          }
        }

        & > .content {
          & {
            background-color: var(--neutral-950);
          }

          & > .activity {
            & > .wrapper {
              & > .activity-list {
                & > .comment {
                  box-shadow: 0 .0625em .125em hsla(221, 14%, 4%, .25), 0 .0625em .125em hsla(221, 14%, 4%, .25);

                  & > .info > .actions {
                    & > .is-resolved > svg {
                      color: var(--green-500)
                    }

                    & > .dropdown.is-right > .dropdown-menu {
                      & > .dropdown-content {
                        background-color: var(--broken-white);
                        color: var(--neutral-950);
                        border: 1px solid var(--blue-800);

                        & > .item-menu:hover {
                          background-color: rgba(79, 79, 79, 0.15);
                        }
                      }
                    }
                  }

                  & > .comment-answer {
                    border-top: 1px solid hsla(221, 14%, 4%, .25);

                    & > .info > .action {
                      display: flex;

                      & > .is-resolved > svg {
                        color: var(--green-500)
                      }

                      & > .dropdown.is-right > .dropdown-menu > .dropdown-content {
                        background-color: var(--broken-white);
                        color: var(--neutral-950);
                        border: 1px solid var(--blue-800);

                        & > .item-menu {
                          &:hover {
                            background-color: rgba(79, 79, 79, 0.15);
                          }
                        }
                      }
                    }
                  }

                  & > .input-response {
                    border-top: 1px solid hsla(221, 14%, 4%, .25);
                  }
                }
              }
            }
          }
        }
      }

      & > .issue-details-info {
        & > .select > select, button {
          border: 1px solid var(--blue-600);
          background-color: hsl(221, 14%, calc(100% + 0%));
        }

        & > button:hover {
          background-color: var(--blue-200)
        }


        & > .details-info {

          & > .details-title {
            border: 1px solid hsla(221, 14%, 4%, .25);
            box-shadow: 0 .0625em .125em hsla(221, 14%, 4%, .25), 0 .0625em .125em hsla(221, 14%, 4%, .25);
            background-color: var(--blue-200)
          }

          & > .infos {
            border: 1px solid hsla(221, 14%, 4%, .25);
            box-shadow: 0 .0625em .125em hsla(221, 14%, 4%, .25), 0 .0625em .125em hsla(221, 14%, 4%, .25);
          }
        }
      }
    }
  }
  #release {
    .content {
      & > header > .action {
        & > .select > select, .search > .input, .create > .button {
          border: 1px solid var(--blue-600);
        }

        & > .search > .button {
          border: 1px solid var(--blue-600);
        }
      }

      & > .hero {
        & > table {
          & > thead {
            background-color: var(--blue-200);
            border-top: 1px solid var(--neutral-950);
            border-bottom: 1px solid var(--neutral-950);
          }

          & > tbody > tr > td {
            &.advancement > .advancement-bar {
              & > .backlog {
                background-color: #6b7280;
              }

              & > .active {
                background-color: var(--blue-300);
              }

              & > .completed {
                background-color: var(--green-500);
              }
            }

            &.action-menu > .action > .dropdown.is-right > .dropdown-menu {
              & > .dropdown-content {
                background-color: var(--broken-white);
                color: var(--neutral-950);
                border: 1px solid var(--blue-800);

                & > .item-menu {
                  &:hover {
                    background-color: rgba(79, 79, 79, 0.15);
                  }
                }
              }
            }
          }
        }
      }
    }

    .modal > .modal-content > .box {
      & > .field > .control > .select > select {
        border: 1px solid var(--blue-600);
      }

      & > .field.is-grouped > .control > .date-picker > input {
        border: 1px solid var(--blue-600);
      }
    }
  }
  #searchbar {
    &.modal > .searchbar > .card-list > .card:hover {
      background-color: var(--blue-200);
    }
  }
  #profile {
    & > .modal > .modal-content > .box {
      .profile-header {
        background-color: #e9e9e9;

        .user-info {
          .name {
            color: var(--neutral-950);
          }

          .email {
            color: var(--neutral-950);
          }
        }
      }

      .edit-form > .form-group > label {
        color: var(--neutral-950);
      }

      .modal-actions {
        border-top: 1px solid #eaecf0;
      }
    }
  }
  .canceled-issue-icon {
    color: var(--red-500);
  }
  .completed-issue-icon {
    color: var(--green-500);
  }
  .open-issue-icon {
    color: var(--blue-600);
  }
  .inprogress-issue-icon {
    & > svg {
      & > circle {
        stroke: var(--blue-600);
      }

      & > path {
        fill: var(--blue-600);
      }
    }
  }
  .tooltip .tooltip-text {
    background-color: var(--blue-200);
    border: 1px solid var(--blue-800);
    color: var(--neutral-950);
  }
  .modal {
    & > .modal-content > .box {
      .field > .control > input, textarea {
        box-shadow: 0 .0625em .125em hsla(221, 14%, 4%, .25);
        background-color: var(--broken-white);
      }

      .button {
        box-shadow: 0 .0625em .125em hsla(221, 14%, 4%, .25);
      }
    }
  }
  .modal.del-issue > .modal-content > .box.del-box {
    background-color: var(--broken-white);

    .button.is-cancel {
      color: black;
    }
  }
  .drag-clone {
    background-color: white;
    border: 2px solid var(--blue-200);
  }
  .toast {
    background-color: var(--red-400);
    color: var(--neutral-950);
    border: 1px solid black;
  }
}